abbr, acronym, address,
applet, article, aside, audio, b, big, blockquote, body, canvas, caption, 
cite, code, dd, del, details, dfn, dl, dt, em, embed, 
fieldset, figcaption, figure, footer, form, h1, h2, 
h3, h4, h5, h6, header, html, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, object, ol, output, 
p, pre, q, s, samp, section, small, span, strike, strong, 
sub, summary, sup, table, tbody, td, tfoot, th, thead, time, 
tr, tt, u, ul, var, video{
          margin: 0;
          padding: 0;      
}

@font-face {
 font-family:font_1;
 src: url("black_ops_one.eot") /* EOT file for IE */
}
@font-face {
 font-family:font_1;
 src: url("black_ops_one.ttf") /* TTF file for CSS3 browsers */
}

body{
	background-size: cover;
}


.main{
	position: absolute;
	width: 99%;
	height: 99%;
	
}

.line{
	vertical-align: middle;
	align-items: center;
	width:100%; 
	height:4px; 
	background: white;
	align-content: center;
	text-align:center;
	position: relative;
	top: 50%;
	opacity: 0;
	animation: loading 4s, loading_leaving 5s;
	animation-delay: 2s;
	animation-timing-function: ease;
}
   
#number{
	font-size: 140%;
	font-family: 'Audiowide', monospace;
	text-decoration-color: white;
	color: white;
	position: relative;
	top: 47%;
	text-align: center;
	margin-bottom: 0;
	opacity: 0;
	animation: loading_leaving 5s;
	animation-delay: 2s;
}

@keyframes loading{
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes loading_leaving{
	0% {opacity: 100;}
	80% {opacity: 80;}
	100% {opacity: 0;} 
}

#main2{
	position: absolute;
	height: 99%;
	width: 99%;
	animation: searching_appears 11s;
}

#searching_block{
	/*background-color: brown;*/
	position: absolute;
	min-height: 200px;
	min-width: 450px;
	width: 60%;
	height: 50%;
	margin-top: 11%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 14%;
	opacity: 100%;
	vertical-align: middle;
	float: left;
}

@keyframes searching_appears{
	0% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 100;}
}

#searching_title{
	font-family: 'Orbitron', cursive;
	color: white;
	font-size: 600%;
	height: 50%;
	width: 100%;
	position: absolute;
	text-align: center;
	align-self: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;
}

#search{
	text-align: center;
	left: 40%;
	top: 50%;
	position: absolute;
	margin-top: 5px;
}

#menu_{
	position: absolute;
	transform: rotate(45deg);
	margin-top: 1.3em;
	margin-left: .3em;
	font-size: 180%;
	font-family: font_1;
	transition: color .5s;
}

#menu_button:hover span{
	color: #4EEE94;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: menu_button .1s forwards;
	text-shadow: 3px 3px 3px white;
}

@keyframes menu_button{
	60% {
    transform: translate(20px, 0) scale(1);
	color: #4EEE94;
	text-shadow: 3px 3px 3px white;
	}
	80% {
	transform: translate(20px, 0) scale(1);
	color: #4EEE94;
	text-shadow: 3px 3px 3px white;
	}
	99% {
	transform: translate(0) scale(1.2);
	color: #CD0000;		
	text-shadow: 4px 4px 4px gold;
	}
	100% {
	transform: translate(0) scale(1);
	opacity: 1;
	color: #4EEE94;
	text-shadow: 3px 3px 3px white;
	}
}

#menu_button:hover span:nth-of-type(1){
	animation-delay: .2s
}

#menu_button:hover span:nth-of-type(2){
	animation-delay: .2s
}

#menu_button:hover span:nth-of-type(3){
	animation-delay: .26s
}

#menu_button:hover span:nth-of-type(4){
	animation-delay: .32s
}